@import 'tailwindcss';

@font-face {
  font-family: 'vt323';
  src: url('./assets/font/vt323/VT323-Regular.ttf') format('truetype');
}

@theme {
  --mint-green: #98ff98;
  --mint-accent: #33cc66;
}

@layer base {
  h1 {
    @apply text-5xl mb-[0.5em] text-center;
  }

  h2 {
    @apply text-4xl;
  }

  p {
    @apply tracking-wide text-xl;
  }

  img,
  canvas {
    @apply [image-rendering:pixelated];
  }
}

.smoothed {
  image-rendering: unset;
}
