@import 'tailwindcss';

@font-face {
  font-family: 'vt323';
  src: url('./assets/font/vt323/VT323-Regular.ttf') format('truetype');
}

@theme {
  --mint-green: #98ff98;
  --mint-accent: #33cc66;
  --dark-green: #1f2d1f;
  --mustard: #fff3b0;
  --background: #f5f7f5;
  --dark-red: #8b0000;
}

@layer base {
  h1 {
    @apply text-5xl mb-[0.5em] text-center;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-3xl pl-5 m-2.5 underline decoration-[var(--mint-green)];
  }

  p {
    @apply tracking-wide text-xl;
  }

  img,
  canvas {
    @apply [image-rendering:pixelated];
  }

  ul {
    @apply list-disc pl-5;
  }
}

.smoothed {
  image-rendering: unset;
}
